.Meter-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Bar {
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 10px;
  position: absolute;
  transform: rotate(180deg);
}

.On-Fire {
  -webkit-animation-iteration-count: infinite;
}

@keyframes shake-1 {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes shake-2 {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake-3 {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake-1 {
  -webkit-animation-name: shake-1;
  animation-name: shake-1;
}

.shake-2 {
  -webkit-animation-name: shake-2;
  animation-name: shake-2;
}

.shake-3 {
  -webkit-animation-name: shake-2;
  animation-name: shake-2;
}
