.Meter-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Bar {
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 10px;
  position: absolute;
  transform: rotate(180deg);
}
