.GamePage {
  height: 100%;
  width: 100%;
}
.NavBar {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.left-arrow {
  margin: 10px;
  font-size: 2em;
  color: lightcoral;
}

.Game {
  display: flex;
  height: calc(100% - 50px);
  width: 100%;
}

.Streak-Meter {
  width: 10%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-Problem {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Game-Problem > * {
  margin-bottom: 20px;
}

.Problem-Container > * {
  display: flex;
  flex-direction: column;
}

.Problem-Container img {
  height: 200px;
  width: 200px;
}

.User-Input {
  display: flex;
  flex-direction: row;
}

.User-Input * {
  margin-right: 10px;
}

.User-Input button {
  height: 56px;
  width: 75px;
  background-color: #61F780;
}

.User-Input input {
  height: 50px;
  width: 100px;
  font-size: 1.5em;
}

.Choice-Container {
  display: flex;
}

.Coin-Container {
  position: absolute;
  margin: 10px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
}

.Coins {
  height: 50px;
  width: 50px;
}

.Choice-Image {
  height: 100px;
  width: 100px
}

.Question-Result {
  height: 200px;
  width: 200px;
}

.Game-Info {
  display: flex;
}

.Game-Info > * {
  margin-right: 10px;
}
