.Dashboard-Page {
  width: 100%;
  height: 100%;
  display: flex;
}

.Profile-Panel {
  width: 30%;
  height: 100%;
}

.Game-Panel {
  width: 50%;
  height: 100%;;
}

.Leaderboard-Panel {
  width: 20%;
  height: 100%;
}
