.Choice {
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Shape {
  margin-left: 10px;
  margin-right: 10px;
}

.Triangle {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid;
}

.Circle {
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 50%
}

.Square {
  width: 100%;
  height: 100%;
  background: red;
}

.Trapezoid {
  border-bottom: 150px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 100%;
}

.Choice-Text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
