.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Blue {
  background-color: #648FFF;
  color: #648FFF;
}

.Purple {
  color: #785EF0;
  background-color: #785EF0;
}

.Pink {
  background-color: #DC267F;
}

.Orange {
  color: #FE6100;
  background-color: #FE6100;
}

.Yellow {
  color: #FFB000;
  background-color: #FFB000;
}
