.Profile-Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Badges-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Name-Badge-Wrapper {
  height: 80%;
}

.Badges-Container > .Badge-Wrapper {
  margin: 15px;
}

.Redeem-Badge-Container {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Redeem-Badge-Container button {

}

.User-Coins-Container {
  display: flex;
  flex-direction: row;
}

.User-Coins-Container > img {
  height: 25px;
  width: 25px;
}

.redeem-button {
  background-color: #6FEF89;
}
